.chatspace-side
  =render partial: 'shared/sidebar'

.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group--name
        =@group.name
      .chat-main__header--group--user
        = "Member: #{current_user.name}"
    =link_to "Edit", "#",class: 'chat-main__header--group--edit'

  .chat-main__body
    = render partial: 'shared/message', collection: @messages

  .chat-main__footer
    = form_for [@group, @message],  html: {class: 'chat-main__footer-form'} do |f|
      .chat-main__footer-body
        = f.text_field :content, class: 'chat-main__footer-body-message', placeholder: 'type a message'
        .chat-main__footer-file
          %i.far.fa-image.fa-2x
        =f.submit "Send"







